@charset "utf-8";
/* CSS Document */
section{
	left: 0;
	top: 20px;
	border: solid 2px blue;
	background-color: rgba(255,255,255,0.8);
	padding-left: 15px;
	padding-right: 15px;
	width: 98%;
	height: 100%;
}
table{
	left: 20px;
	border-spacing: 20px 14px;
}
h2{
	align: center;
}
.body{
	background: url("main.jpg") repeat;
	background-size: cover;
	width: 100%;
}
